#Log
SYSTEM_LOG_FILE=./log/projectTemplate.log
SYSTEM_LOG_FILE_ERR=./log/projectTemplate_error.log
SYSTEM_MODE=prod

#TIME REFERENCE
TIME_REF=20060102-150405

#RABBIT_MQ
; RABBITMQ_HOST=amqp://admin:admin123@127.0.0.1:5672/
; RABBITMQ_QUEUE=queue
; BACKUP_FILE_NAME=rabbitBackupFile.txt
; BACKUP_FOLDER=./rabbitBackup

#FOR TCP SERVER
TCP_PORT=0.0.0.0:9095

#FOR TCP CLIENT
TCP_SERVER_URL=0.0.0.0:9095
SERVER_NAME=server
CLIENT_NAME=client

HTTP_ADDR=0.0.0.0:8080

#FOR PROXY SERVER
PROXY_ADDRESS=0.0.0.0:9000

#FOR GRPC SERVER
GRPC_ADDR=192.168.114.61:10000

#FOR GRPC CLIENT
GRPC_SERVER=192.168.114.61:10000

#DATABASE
DB_ADDR=user:pass@tcp(127.0.0.1:3306)/classicmodels

#Do not share to anyone
SECRET_KEY=your_secret_key