package greeting

import "{{ .ModuleName }}/internal/domain"

type delivery struct {
	usecase domain.GreetingUsecase
}

func NewDelivery(usecase domain.GreetingUsecase) *delivery {
	return &delivery{
		usecase: usecase,
	}
}
