package greeting

import "{{ .ModuleName }}/internal/domain"

type usecase struct {
	repo domain.GreetingRepository
}

func NewUsecase(repo domain.GreetingRepository) *usecase {
	return &usecase{
		repo: repo,
	}
}
