package domain

import (
	"net/http"

	"{{ .ModuleName }}/internal/domain/entity/config"
)

type ConfigDelivery interface {
	LoadConfig() *config.Cfg
}

type GreetingDelivery interface {
	Greeting() http.HandlerFunc
}
