package config_test

import (
	"testing"

	delivery "{{ .ModuleName }}/internal/delivery/config"
	"{{ .ModuleName }}/internal/domain/entity/config"
	"{{ .ModuleName }}/internal/domain/mock"
	"github.com/stretchr/testify/assert"
)

func TestLoadConfig(t *testing.T) {
	usecase := mock.NewConfigUsecase(t)
	usecase.On("LoadConfig").Return(&config.Cfg{})

	delivery := delivery.NewDelivery(usecase)
	cfg := delivery.LoadConfig()

	assert.NotNil(t, cfg)
}
