package config

import "{{ .ModuleName }}/internal/domain"

type delivery struct {
	usecase domain.ConfigUsecase
}

func NewDelivery(usecase domain.ConfigUsecase) domain.ConfigDelivery {
	return &delivery{usecase: usecase}
}
