package config_test

import (
	"errors"
	"testing"

	"{{ .ModuleName }}/internal/repository/config"
	"{{ .ModuleName }}/internal/repository/config/mock"
	"github.com/stretchr/testify/assert"
)

func TestReadConfigFileHappy(t *testing.T) {
	reader := mock.NewFileReaderInterface(t)
	reader.On("ReadFile").Return([]byte{}, nil)

	repo := config.NewRepository(reader)
	resp, err := repo.ReadConfigFile()
	assert.NoError(t, err)
	assert.NotNil(t, resp.Config)
}

func TestReadFileError(t *testing.T) {
	reader := mock.NewFileReaderInterface(t)
	reader.On("ReadFile").Return([]byte{}, errors.New("something went wrong"))

	repo := config.NewRepository(reader)
	_, err := repo.ReadConfigFile()
	assert.Error(t, err)
}

func TestUnmarshallError(t *testing.T) {
	reader := mock.NewFileReaderInterface(t)
	reader.On("ReadFile").Return([]byte{1, 2, 3}, nil)
	reader.On("GetFileName").Return("test")

	repo := config.NewRepository(reader)
	_, err := repo.ReadConfigFile()
	assert.Error(t, err)
}
