package greeting_test

import (
	"testing"

	"{{ .ModuleName }}/internal/repository/greeting"
	"github.com/stretchr/testify/assert"
)

func TestSayHelloHappy(t *testing.T) {
	repo := greeting.NewRepository()
	_, err := repo.SayHello()
	assert.NoError(t, err)
}
