package greeting

import "{{ .ModuleName }}/internal/domain/entity/greeting"

func (repo *repository) SayHello() (resEntity greeting.GreetingResponseEntity, err error) {
	resEntity.Msg = "hello, world!"
	return
}
